body {
    background: #f5f6fa;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 100%;
    padding: 30px 15px;
    margin-right: auto;
    margin-left: auto;
}

.pb-3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box {
    width: 100%;
    height: fit-content;
    position: relative;
    box-sizing: border-box;
    background: white;
    border-radius: 8px;
    padding: 15px;
}

.comment.isReply .box {
    margin-left: 15px;
}

.userData {
    margin-bottom: 5%;
}

.pfp {
    width: 31.53px;
    height: 31.53px;
    margin: 0px 10px 0 0;
}

.username {
    font-size: 16px;
    font-weight: 500;
}

.text {
    opacity: 0.75;
}

.commentFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
}

.btnGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
}

[class^=btnPlus] {
    display: flex;
    width: 35px;
    height: 35px;
    border: none;
    background: #f5f6fa;
    font-weight: 700;
    border-radius: 7px 0 0 7px;
    align-items: center;
    justify-content: center;
}

.votes {
    display: flex;
    width: 25px;
    height: 35px;
    background: #f5f6fa;
    align-items: center;
    flex-direction: row;
    font-weight: 500;
    color: #5457b6;
    justify-content: center;
}

[class^=btnMinus] {
    display: flex;
    width: 35px;
    height: 35px;
    border: none;
    background: #f5f6fa;
    font-weight: 700;
    border-radius: 0 7px 7px 0;
    align-items: center;
    justify-content: center;
}

[class^=btnReply] {
    width: 65px;
    height: 35px;
    padding: 0;
    display: flex;
    background: none;
    border: none;
    color: #5457b6;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.isReply {
    display: flex;
    border-left: 2px solid #eaecf1;
    padding-left: 15px;
    align-items: stretch;
    flex-direction: column;
    gap: 15px;
}

.inputBox {
    width: 100%;
    height: 200px;
    background: white;
    border-radius: 8px;
    padding: 15px;
}

.inputText {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    border: 1px solid #eaecf1;
    padding: 15px 20px;
    margin-bottom: 35px;
}

.inputFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btnSend {
    width: 80px;
    height: 40px;
    background: #5457b6;
    color: white;
    border-radius: 8px;
    border: none;
    font-weight: 500;
}

.replyBox {
    width: 100%;
    height: fit-content;
    position: relative;
    box-sizing: border-box;
    background: white;
    border-radius: 8px;
    padding: 15px;
}

.notReply {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputReply {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    border: 1px solid #eaecf1;
    padding: 15px 20px;
    margin-bottom: 35px;
}

[class^=btnSendReply_] {
    width: 80px;
    height: 40px;
    background: #5457b6;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 500;
}

.replyFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
